<h4>New Booking</h4>

<!-- input -->
<mat-form-field class="w-100">
    <input type="text" matInput placeholder="Enter Customer Name">
    <mat-label>Customer Name</mat-label>
</mat-form-field>

<!-- basic buttons -->
<!-- <div class="mb">
    <button mat-button>Save</button>
    <button mat-button>Cancel</button>
    <button mat-button>Delete</button>
</div> -->

<!-- color variants -->
<!-- <div class="mb">
    <button mat-button color="primary" class="mr">Save</button>
    <button mat-button color="accent" class="mr">Cancel</button>
    <button mat-button color="warn" class="mr">Delete</button>
</div> -->

<!-- flat buttons -->
<!-- <div class="mb">
    <button mat-flat-button color="primary" class="mr">Save</button>
    <button mat-flat-button color="accent" class="mr">Cancel</button>
    <button mat-flat-button color="warn" class="mr">Delete</button>
</div> -->

<!-- raised buttons -->
<!-- <div class="mb">
    <button mat-raised-button color="primary" class="mr">Save</button>
    <button mat-raised-button color="accent" class="mr">Cancel</button>
    <button mat-raised-button color="warn" class="mr">Delete</button>
</div> -->

<!-- stroked buttons -->
<div class="mb">
    <button mat-stroked-button color="primary" class="mr">Save</button>
    <button mat-stroked-button color="accent" class="mr">Cancel</button>
    <button mat-stroked-button color="warn" class="mr">Delete</button>
</div>

<!-- disable ripple -->
<!-- <div class="mb">
    <button mat-stroked-button color="primary" class="mr" disableRipple>Save</button>
    <button mat-stroked-button color="accent" class="mr" disableRipple>Cancel</button>
    <button mat-stroked-button color="warn" class="mr" disableRipple>Delete</button>
</div> -->

<!-- icon buttons -->
<!-- <div class="mb">
    <button mat-icon-button color="primary" class="mr">
        <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button color="accent" class="mr">
        <mat-icon>cancel</mat-icon>
    </button>
    <button mat-icon-button color="warn" class="mr">
        <mat-icon>delete</mat-icon>
    </button>
</div> -->

<!-- fab buttons -->
<!-- <div class="mb">
    <button mat-fab color="primary" class="mr">
        <mat-icon>save</mat-icon>
    </button>
    <button mat-fab color="accent" class="mr">
        <mat-icon>cancel</mat-icon>
    </button>
    <button mat-fab color="warn" class="mr">
        <mat-icon>delete</mat-icon>
    </button>
</div> -->

<!-- mini-fab buttons -->
<!-- <div class="mb">
    <button mat-mini-fab color="primary" class="mr">
        <mat-icon>save</mat-icon>
    </button>
    <button mat-mini-fab color="accent" class="mr">
        <mat-icon>cancel</mat-icon>
    </button>
    <button mat-mini-fab color="warn" class="mr">
        <mat-icon>delete</mat-icon>
    </button>
</div> -->