@use "@angular/material" as mat;

.my-special-section {
  $special-primary: mat.define-palette(mat.$orange-palette);
  $special-accent: mat.define-palette(mat.$brown-palette);
  $special-theme: mat.define-dark-theme(
    (
      color: (
        primary: $special-primary,
        accent: $special-accent,
      ),
    )
  );

  $my-palette: mat.define-palette(mat.$orange-palette);

  .my-custom-style {
    background: mat.get-color-from-palette($my-palette, "500");
    color: mat.get-color-from-palette($my-palette, "500-contrast");
  }

  @include mat.button-color($special-theme);
}
