<p>
  Resize your browser window to see the current screen size change.
</p>
<p>
  The current screen size is <strong>{{currentScreenSize}}</strong>
</p>

<p *ngIf="currentScreenSize === 'XSmall' || currentScreenSize === 'XLarge'|| currentScreenSize === 'Medium'">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quisquam pariatur voluptate expedita quo reiciendis
  dolores doloribus laboriosam velit? Totam odio officia nulla molestiae est velit iste pariatur nemo aspernatur. Lorem
  ipsum dolor sit amet consectetur adipisicing elit. Perferendis obcaecati quasi veniam? Eveniet quo optio ea
  perferendis impedit, doloribus aperiam ullam molestiae soluta laboriosam, fuga, quod esse possimus repudiandae est.
</p>